@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-cadastro{
    width: 100vw;
    height: 120vh;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.left-cadastro{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-cadastro > h1{
    font-size: 3vw;
    color: #77ffc0;
}

.left-cadastro-img{
    width: 35vw;
}

.right-cadasto{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-cadastro{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-cadastro > h1{
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.Nome{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 75%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #f0ffff94;
}

.checkbox-login{
    border-bottom: 1px solid #2b134b;
}

.btn-cadastrar{
    width: 130px;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

hr{
    margin: 5% 0;
    border-bottom: 1px solid #2b134b;
}

.btn-login{
    width: 100px;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

@media only screen and (max-width: 950px){
    .card-cadastro{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-cadastro{
        flex-direction: column;
    }
    .left-cadastro > h1{
        display: none;
    }

    .left-cadastro{
        width: 100%;
        height: auto;
    }
    .right-cadasto{
        width: 100%;
        height: auto;
    }
    .left-cadastro-img{
        width: 40vh;
    }
    .card-cadastro{
        width: 90%;
    }
}