body {
    margin: 0;
    padding: 0;
    background: #201B2C;
}

.loginUser{
	display: flex;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #fff;
	
	align-items: center;
	justify-content: center;
}
nav {
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
    gap: 30px;

    width: 100%;

    border-bottom: 6px solid #77FFC0;
}

nav > button{
    text-decoration: underline;
}

nav .btn1 {
    font-family: sans-serif;
    font-weight: 700;

    padding: 10px 20px;
    margin: 10px;

    color: #000;
    background: #77FFC0;
    border-radius: 5px;

    border: none;
}

nav .btn2 {
    font-family: sans-serif;
    font-weight: 700;

    padding: 10px 20px;
    margin: 10px;

    color: #77FFC0;
    background-color: #0000;
    border-radius: 5px;

    border: 3px solid #77FFC0;
}

.mainSite {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.mainSite h1 {
    margin-bottom: 10px;
    align-self: center;
    color: #77FFC0;
    text-decoration: underline;
}

.mainSite .Lancamentos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.Lancamentos .filmes {
    display: flex;
    align-items: center;
    padding-left: 28px;
    border-radius: 48px;
    border: 6px solid #77FFC0;
}

.Lancamentos{
    padding: 10px;
    flex-direction: row;
    justify-content: space-evenly;
}

.filmes{
    justify-content: center;
    width: 403px;
    height: auto;
}


.filmes .image-container {
    width: 122px;
    height: 212px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #FFFFFF;
    padding: 20px;
}

.info > h1{
    width: 100%;
    font-weight: 400;
    display: flex;
    justify-content: start;
}

.info > date{
    width: 100%;
    font-weight: 400;
    display: flex;
    justify-content: start;
}

.info > categoria{
    width: 100%;
    font-weight: 400;
    display: flex;
    justify-content: start;
}

.info > descricao{
    width: 100%;
    font-weight: 400;
    display: flex;
    justify-content: start;
}

.image-container{
    gap: 10px;
}

.image-container > button{
    border-radius: 30px;
    background-color: rgb(0, 0, 0, .0);
    color: #FFFFFF;
}

.image-container > button:hover{
    cursor: pointer;
    background-color: #77FFC0;
    color: #201B2C;
}

.img-favorito:hover{
    color: rgb(0, 0, 0, .0);
}
.image-container > img{
    border-radius: 10px;
}
